body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #f9a602, #ffcc00, #ff6600);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
   
}

.signup-container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.signup-container h2 {
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input, .form-group select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

.form-group a {
    color: #007bff;
    text-decoration: none;
}

.form-group a:hover {
    text-decoration: underline;
}
